* {
    font-family: 'Seven Segment', sans-serif;
}

/* First, we want to use a flex container around the operators */
#operators {
    display: flex;
    flex-direction: column;
    flex: 0;
    flex-basis: 25%;
}

#non-operators {
    display: flex;
    flex-direction: column;
}

/*They took up the entirety of the width. We need to restrain its space*/
.calculator-box {
    display: flex;
    flex-direction: row;
}

.calculator-box > *{
    flex: 1;
}

.calculator-box > * > * {
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
}

.row > * {
    flex: 1;
}

/* this is so weird but it is needed */
.last-row{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.last-row > * {
    display: flex;
    flex: 1;
}

.last-row > * > * {
    flex: 1;
}

.last-row > :last-child {
    flex: 0.5;
}

/* I wanna move it to the center */
html, body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

/* want to give the input box a minimum height/flex basis */
.full-ui {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 60%;
}

.full-ui > *{
    flex: 1;
}

#input-box {
    flex: 0;
    flex-basis: 25px;
    font-size: 20px;
    border-style: outset;
    background-color: black;
    border-width: 2px;
    border-color: gray;
    color: white;
}

/* now gonna add fonts n colors to the buttons */
button {
    background-color: black;
    color: white;
}